* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282D35;
}

header {
    background-color: #21222A;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 91px;
}

header > img {
    padding-left: 20px;
}

header > p {
    color: #61DAFB;
    font-family: "Inter", serif;
    font-size: 22.25px;
    font-weight: 700;
}

main {
    padding: 40px 20px 40px 20px;
    background-image: url("./src/images/reactjs-icon-2.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

main h1, ul {
    color: white;
    font-family: "Inter", serif;
}

main h1 {
    font-size: 39.06px;
    padding-bottom: 20px;
}

main > ul {
    padding-left: 40px;
}

main > ul > li {
    font-weight: 300;
}

main > ul > li::marker {
    color: #61DAFB;
    font-size: 25px;
}